.crumbAvatar.crumbAvatar.crumbAvatar {
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5em;
}

.crumbTypeIcon.crumbTypeIcon {
    width: 1.5em;
    height: 1.5em;
}

.crumbText {
    vertical-align: middle;
}
