:global {
    @for $level from 0 to 5 {
        .ant-table-row-level-#{$level} {
            > td:first-child {
                padding-left: 10px + 30px * $level !important;
                text-align: left;
            }
        }
    }

    .pushable {
        transform: none !important;
        -webkit-transform: none !important;
    }

    .sidebar {
        position: fixed !important;
    }
}
