.healthBar {
    position: fixed !important;
    width: calc( 100% - 260px );
    z-index: 90;
    background: white !important;
}

.content {
    padding-top: 50px !important;
}

.wrapper {
    padding-top: 57px !important;
}

.noSidebar {
    width: 100% !important;
}

.tabMenu {
    position: fixed !important;
    width: calc( 100% - 260px );
    background: white !important;
    z-index: 80;
}