@import "../marker.scss";

$contentSize: 50vh;

.lootMarker {
    @extend .marker;

    &::after {
        background: linear-gradient(300deg, #ffa500, #daa520);
    }
}

.popup {
    min-width: $contentSize;

    p {
        margin: 5px;
    }

    :global {
        .row {
            padding: 0 5px !important;
        }
    }
}

.content {
    width: calc( #{$contentSize} - 40px );
    padding-bottom: 16px;

    h1 {
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }

    h3 {
        font-size: 1.2rem;
        margin: 0.5rem 0;
    }

    :global {
        .segment {
            margin-bottom: 4px !important;
            margin-right: 4px;
            padding: 2px;
        }
    }

}

.masterOnly {
    opacity: 0.3;
}