.icon {
    cursor: pointer;
    margin-right: 0 !important;
    margin-left: 0.5em !important;
    font-size: 0.92857143em !important;
    opacity: 0.5 !important;
    transition: background 0.1s ease;

    &:hover {
        opacity: 1 !important;
    }
}
