.container {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.input > input {
    border-radius: 0 !important;
}

.button {
    height: 36px !important;
    margin-top: 1px !important;
    box-sizing: border-box !important;
    padding-top: 12px !important;
}