@import "../marker.scss";

.heroMarker {
    @extend .marker;

    &::after {
        background: linear-gradient(300deg, #fff700, #22ff22);
    }
}

.npc {
    &::after {
        background: linear-gradient(300deg, #0072ff, #003577);
    }
}

.masterOnly {
    opacity: 0.3;
}