@import "../../../breakpoints.scss";

$appBarHeight: 32pt;

.appBar {
    height: $appBarHeight;
    position: fixed;
    z-index: 100;
}

.crumbs {
    @media(max-width: $breakpoint-m) {
        :global {
            .section:not(:last-child) {
                display: none;
            }

            .divider.divider {
                display: none;
            }
        }
    }
}
