.icon {
    font-size: 0.8em !important;
    text-align: right !important;
}

.blurred {
    filter: blur(8px);
}

.feed {
    background: white;
    .dragHandle {
        opacity: 0 !important;
        cursor: grab !important;
        margin-right: 0 !important;
    }

    &:hover {
        .dragHandle {
            opacity: 0.5 !important;
        }
    }
}
