.map {
    height: calc(100vh - 43px);
    width: 100%;
}

.tools {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 1000;
}

.container {
    position: relative;
}

.help {
    color: #aaa;
    font-size: 0.9rem;
}

.segment {
    max-width: 200px;
}