[Unit]
Description=PNP
After=network.target

[Service]
TimeoutStartSec=5
WorkingDirectory=/home/prior/applications/pnp/
ExecStart=/home/prior/applications/pnp/node-v{{ node_version }}-linux-x64/bin/node server serve --config-file config.yml
TimeoutStopSec=10
Restart=always
RestartSec=10

[Install]
WantedBy=multi.target
