.expand {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.85);
}

.header {
    display: flex;
    justify-content: stretch;
}

.avatar {
    flex-shrink: 0;
    flex-grow: 0;
}

.texts {
    flex-shrink: 1;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}

.text {
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;

    // depends on expand icon size and position
    margin-right: 16px;
}

.quantity {
    font-size: 85%;
    line-height: 1.1;
}

.faded {
    opacity: 0.4;
}
