.wrapper {
    height: 100%;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    justify-content: flex-end;
    align-items: center;
}

.border {
    width: 5px;
    height: 100%;
    border-radius: 10px;
    margin: 2px;
}