.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    div:first-child {
        flex-grow: 2;
    }

    button:last-of-type {
        margin-right: 20px !important;
    }

    div:last-child {
        flex-grow: 0;
        font-size: 1.5rem;
    }

    &.highlight {
        div:first-child {
            font-weight: bold;
        }

        padding-bottom: 4px;
    }
}

.segment-with-progress {
    padding-bottom: 5px !important;
}

.progress {
    margin-top: 15px !important;
}

.dice {
    font-size: 1rem;
}

.faded {
    color: rgba(40, 40, 40, .3) !important;

    :global {
        i.grey.icon {
            color: rgba(40, 40, 40, .3) !important;
        }
    }
}