@import "../../../breadcrumb.scss";

.container {
    background-color: rgb(255, 255, 255);
    min-height: calc(100vh - 64px);
    box-sizing: border-box;
    margin-top: 43px;
}

.pageSidebarActive {
    transform: none !important;
    left: 260px;
    width: calc(100% - 260px);
}
