$markerSize: 30px;
$border: 2px;

:export {
    markerSize: $markerSize
}

.marker {
    border-radius: 200px;
    border: $border solid white;
    box-shadow: 0px 0px 14px #000 ;

    &::after {
        $border-width: -3px;

        position: absolute;
        top: $border-width;
        bottom: $border-width;
        left: $border-width;
        right: $border-width;

        content: '';
        z-index: -1;
        border-radius: 200px;
    }

    &::before {
        border-radius: 200px;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        box-shadow: inset 0px 0px 10px #fff ;
        content: '';
        z-index: 1;
    }

    img {
        border-radius: 200px;
        width: 100%;
        height: 100%;
    }
}
