.container {
    display: flex;
    align-items: center;
}

.label {
    padding-right: 10px;
}

.progress {
    flex: 1 1 100%;
    margin: 0 !important;
    height: 28px;

    :global {
        .bar {
            border-radius: 0 !important;
            height: 28px !important;
        }
    }
}

.mini {
    $buttonSize: 16px;
    height: $buttonSize;

    :global {
        .button {
            height: $buttonSize;
            width: $buttonSize;
            padding: 0 !important;

            i {
                font-size: #{ $buttonSize / 2 };
            }
        }

        .progress {
            height: $buttonSize !important;

            .bar.bar.bar {
                height: $buttonSize !important;
            }
        }
    }
}
