.wrapper {
    position: relative;

    .icon {
        opacity: 0;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
    }

    &:hover {
        .icon {
            opacity: 1;
        }
    }
}