.tabMenu {
    position: fixed !important;
    background: white !important;
    width: calc( 100% - 260px );
    z-index: 70;
    margin-top: -10px !important;
}

.noSidebar {
    width: 100%;
}

.content {
    padding-top: 60px;
}