:global {
    .ql-snow {
        border: none !important;
    }

    .ql-toolbar {
        border-bottom: 1px solid rgba(34, 36, 38, .1) !important;
    }
}

.obfuscated {
    * {
        color: transparent !important;
        text-shadow: 0 0 12px black;
    }
}

.checkBox {
    margin-left: 5px;
    margin-top: 5px;
}