@import "../marker.scss";

$customMarkerSize: $markerSize * 0.75;

:export {
    customMarkerSize: $customMarkerSize
}

.customMarker {
    @extend .marker;

    // make sure that the icon scales over the entire marker
    font-size: $customMarkerSize - 2 * $border;
    line-height: 1;
    text-align: center;

    &::before {
        top: -2px;
        left: -2px;
        width: 22px;
        height: 22px;
        box-shadow: inset 0px 0px 5px #fff;
    }

    &::after {
        background: white;
    }
}

.headerRow {
    display: flex;
    align-items: center;

    *:not(:last-child) {
        margin-right: 10px;
    }
}

.name {
    flex-basis: 100%;
}

.popup {
    min-width: 250px;
}

.masterOnly {
    opacity: 0.3;
}