@import "../marker.scss";

$contentSize: 50vh;

.monsterMarker {
    @extend .marker;

    &::after {
        background: linear-gradient(300deg, #d02b2b, #470c0c);
    }
}

.popup {
    min-width: $contentSize;

    p {
        margin: 5px;
    }

    :global {
        .row {
            padding: 0 5px !important;
        }
    }
}

.staminaRow {
    margin-bottom: 3px;
}

.content {
    width: calc( #{$contentSize} - 40px );
    padding-bottom: 16px;

    h1 {
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }

    h3 {
        font-size: 1.2rem;
        margin: 0.5rem 0;
    }

    :global {
        .segment {
            margin-bottom: 4px !important;
            margin-right: 4px;
            padding: 2px;
        }
    }

}

.maneuverColumn {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.maneuvers.maneuvers.maneuvers {
    padding-left: 23px !important;
}

.masterOnly {
    opacity: 0.3;
}